
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600;700&display=swap');

.private {
  border-radius: 10px;
  border: 1px solid #2c2c2c;
  height: auto;

  font-family: Noto Sans Bengali UI;
  font-size: 18px;
  padding: 10px;
  height: 100%;
}
.upper {
  display: flex;
  justify-content: space-between;
  //   padding: 10px;
}

.name {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  margin-left: 10px;
}

.title {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffffcc;
}

.title_main {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff99;
}
.title_sub {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
}
.others {
  font-weight: 400;
  color: #ffffff;
}
.sub {
  //styleName: H6 web;

  font-size: 16px;
  line-height: 21px;
}

.revenue {
  font-size: 16px;
  line-height: 21px;
}

.month {
  font-size: 14px;
  line-height: 19px;

  color: #ffffffcc;
  display: flex;
  justify-content: space-between;

  &_span {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: #ffffff;
  }
}

.btn {
  //styleName: H8 12;

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  padding: 10px 20px;
  border: 1px solid ;
  border-radius: 5px;
  text-decoration: none;
}
